<div class="container" >
    <h1 class="jumbotron">Sirens Client</h1>
    <form   id="sirenForm">
        <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="issueName">Description</label>
                    <input type="text" class="form-control" id="issueName" name ="issueName"
                           placeholder="Describe the issue ..." ng-model="$parent.issueName">
                </div>
            </div>
            <div class="col-sm-2">
                <div
                        class="form-group">
                    <label
                            for="issueSeverityInput">Severity</label>
                    <select class="form-control" id="issueSeverityInput" ng-model="$parent.severity"
                            ng-options="item for item in severityLevels">
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="issueDate">Start Date</label>
                    <input type="text" class="form-control" id="issueDate"
                           placeholder="Enter the start date ..." ng-model="$parent.issueDate">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="issueEndInput">End Date</label>
                    <input type="text" class="form-control" id="issueEndInput"
                           placeholder="Enter end date ..." ng-model="$parent.issueEnd">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group" style="margin-top: 25px">
                    <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
                </div>
            </div>
        </div>

        </div>
    </form>

</div>
