
<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script
		  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js">
		</script>
      <script src="script.js"></script>
			<script src="/scripts/app.js" charset="utf-8"></script>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <script src="http://chancejs.com/chance.min.js">  </script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<title>Sirens</title>

	</head>
	<body>
		<div class="container" ng-app="myapp" ng-controller="sirenController">
			<h1 class="jumbotron">Sirens Client</h1>
      <form id="issueDescInput">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label for="issueDescInput">Description</label>
              <input type="text" class="form-control" id="issueDescInput"
                placeholder="Describe the issue ..." ng-model="issueName">
            </div>
          </div>
          <div class="col-sm-2">
            <div
              class="form-group">
              <label
                for="issueDescInput">Severity</label>
              <select class="form-control" id="issueSeverityInput">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <h3> {{issueName}} </h3>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="issueDescInput">Start Date</label>
              <input type="text" class="form-control" id="issueDateInput"
                placeholder="Enter the start date ..." ng-model="issueDate">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="issueDescInput">End Date</label>
              <input type="text" class="form-control" id="issueEndInput"
                placeholder="Enter the end date ..." ng-model="issueEnd">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group" style="margin-top: 25px">
          <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        </div>
      </form>

		</div>
	</body>
</html>
